#cabecera{
    background: rgb(225, 225, 247);
    border: 1px solid blue;
    width: 100%;
}
header li{
    display: inline-flex;
    margin-left: 6px;
    bottom: 10px;
}

#descrip{
    background: LightSkyBlue;
    text-align: center;
}
#imgdesc{
    align-items: flex-end;
}
footer{
    border: 1px solid blue;
    background: rgb(44, 42, 42);
    color: white;
    text-align: right;
}
h2{
    text-align: center;
}
h1{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(215, 215, 255);
    color: rgb(72, 67, 141);
}

